{% block content %}
    <h1>Edição de Perfil</h1>
    {%  if (form is not null) %}
    <form action="{{ url('aspe_post_perfil', {'codigo': codigo}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="submit">
    </form>
    {% endif %}
{% endblock %}